@import '../variables.scss';
.Header{
  background-color: $primary;
  .Container{
    margin: 0 auto;
    padding: 20px 0;
    max-width: $max-content-width;
    color:$secondary;
   .Brand {
      margin-left: 10px;
      display: inline-block;
      font-size: 28px;
      color: $text;
   }

    .Login{
      float: right;

      .Link {
        padding: 3px 8px;
        display: inline-block;
        text-decoration: none;
      }

      .Highlight {
        padding: 3px 8px; 
        border-radius: 3px;
        background: $primary;
        color: $white;
        &:hover{
          background: rgba(0, 0, 0, .3);
        };
      }

      .Spacer {
        /*padding: 8px;*/
      }
    }
  }
}