$white: #FFFFFF;
$purple: #AA4A9B;
$black: #000000;
$primary: #F7F7F7;
$secondary: #797979;
$bars: #D9DCDE;
$tertiary: #F2B45F;
$text: #61dafb;
$text-secondary: #797979;


$font: Helvetica;
$font-size: 11px;
$font-small: 10px;
$font-big: 13px;