$white: #FFFFFF;
$backgroundColor: #EDEFF5;
$primary: #373277;
$secondary: #797979;
$bars: #D9DCDE;
$tertiary: #F2B45F;
$text: #61dafb;
$text-secondary: #797979;
$positive: #5CDD95;
$negative: #DD5C5E;
$neutral: #797979;

$font: Helvetica;
$font-size: 11px;
$font-small: 10px;
$font-big: 13px;
$max-content-width: 1200px;